.cabecalho-container {
    text-align: center;
    padding: 96px 0px;
    
}

.cabecalho-text {
    margin: 24px;
    line-height: 1.5;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #101828;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    color: #667085;
}

h3 {
    color: #8E2424
}